<!doctype html>
<html lang="">
<%- include('../common/head', {title: '更多项目'}) %>
<body class="wechat">
  <ul class="tab-view tab-list wechat-tab">
    <li>
      <a href="/m" >新手专享</a>
    </li>
    <li class="tab-active">
      <a href="/m/more" >更多项目</a>
    </li>
    <li>
      <a href="/m/invite" >邀请好友</a>
    </li>
  </ul>
  <div class="wechat-index-silde">
    <div class="wechat-index-list">
      <% for(var i = 0; i<data.list.length; i++) {%>
        <div class="wechat-index-card" data-id="<%= data.list[i].id %>">
          <span class="wechat-bid-tag"><%= data.list[i].loanTypeStr %></span>
          <p class="wechat-bid-rate mg-xxl" >预期年化收益率<br><span><%= data.list[i].interestRate %></span> %</p>
          <div class="wechat-bid-info">
            <p>期限<br><span><%= data.list[i].periods %></span></p>
            <p>还款方式<br><span><%= data.list[i].repayMode %></span></p>
          </div>
          <div class="wechat-bid-footer">
            <i class="icon-wechat-bao icon-25"></i><%= data.list[i].guaranteeText %>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  <div class="slide-dot">
  <% if (data.list.length > 1) { %>
    <% for(var i = 0; i<data.list.length; i++) {%>
      <span></span>
    <% } %>
  <% } %>
  </div>
  <% if (data.couponAmount > 0 && data.isInvest) { %>
    <p class="wechat-coupon-tip">您的账户共有投资红包<%= data.couponAmount/100 %>元<span class="coupon-tip-triangle"></span></p>
  <% } %>
  <div class="btn-box">
    <a class="btn btn-default btn-block" href="https://events.souyidai.com/static/app/index_3.html?from=wechat&client=serve">下载APP即可投资</a>
  </div>
  <%- include('../common/foot') %>
  <script src="https://static.souyidai.com/wap/2.0/scripts/slide.js"></script>
  <script>
  $(function() {
    $('.wechat-index-silde').swipeSlide({
      ul: $('.wechat-index-list'),
      li: $('.wechat-index-card'),
      autoSwipe : false,
      continuousScroll:true,
      callback: function(i){
        $('.slide-dot').children().eq(i).addClass('cur').siblings().removeClass('cur');
      }
    });
    $('.wechat-index-card,btn-default').on('click', function() {
      location.href = 'https://events.souyidai.com/static/app/index_3.html?from=wechat&client=serve';
    });
  });
  </script>
  <%- include('../common/pv') %>
</body>
</html>
