<!doctype html>
<html lang="">
<%- include('../common/head', {title: '限时抢购'}) %>
<body class="wechat-share">
  <% if(userInfo.name !== '') {%>
    <img src="<%= userInfo.head %>" alt="" class="wechat-share-header-img">
    <p class="wechat-share-name"><span><%= userInfo.name %></span><br>向你推荐</p>
  <% } %>
  <img class="wechat-share-banner" src="https://static.souyidai.com/wap/2.0/images/wechat/share_title@2x.png" alt="">
  <div class="wechat-index-silde">
    <div class="wechat-index-card">
      <p class="wechat-bid-title"><%= data.list[0].titleCopy %> <span class="tag orange">新手专享</span></p>
      <div class="wechat-bid-info">
        <p class="rate">项目年利率<br><span><%= data.list[0].interestRate %></span>%</p>
        <p style="border:none">期限<br><span><%= data.list[0].periods %></span></p>
      </div>
      <div class="wechat-bid-info">
        <p>还款方式<br><span><%= data.list[0].repayMode %></span></p>
        <p>项目金额<br><span><%= data.list[0].amount %></span></p>
      </div>
      <div class="wechat-bid-footer">
        <i class="icon-wechat-bao icon-25"></i><%= data.list[0].guaranteeText %>
      </div>
    </div>
  </div>
  <div class="btn-box">
    <button class="btn btn-default btn-block">立即投资</button>
  </div>
  <%- include('../common/foot') %>
  <script>
  $(function() {
    $('.wechat-index-card,.btn-default').on('click', function() {
      location.href = 'https://weixin.souyidai.com/m/regist?from=share&client=wechat';
    });
  });
  </script>
  <%- include('../common/pv') %>
</body>
</html>
